extends layout.pug

block meta
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@sercan_io')
  meta(name='twitter:title', content='Sercan Ateş | Web Logs')
  meta(name='twitter:description', content='Blog posts that I can track my self development on programming, computer sciences and the life.')
  meta(name='twitter:creator', content='sercan.io')
  meta(name='twitter:image', content='https://sercan.io/images/sitelogo.jpg')

  //- Open Graph data
  meta(property='og:site_name', content='sercan.io')
  meta(property='og:locale', content='en_US')
  meta(property='og:locale:alternate', content='tr_TR')
  meta(property='og:type', content='article')
  meta(property='og:url', content='https://sercan.io')
  meta(property='og:title', content='Sercan Ateş | Web Logs')
  meta(property='og:description', content='Blog posts that I can track my self development on programming, computer sciences and the life.')
  meta(property='og:image', content='https://sercan.io/images/sitelogo.jpg')

block content
  main.main
    section(style=`height: ${authorized ? posts.length * 3 : posts.filter(post => post.isVisible === true).length * 3}rem;`).posts
      .postcard__date-list
        each post, index in posts
          if post.isVisible || authorized
            .postcard__date= post.date.toLowerCase()
      .vertical-line
      .posts-list
        each post, index in posts
          if authorized
            div.postcard
              div.postcard__body
                h2.postcard__title
                  a(href=`/post/${post.slug}` title=`Click to Read` aria-label=`Published on ${post.date}, ${post.title}`)= post.title
                  a(title='Click to Change Visibility' aria-label='Click to Change Visibility' role='button'
                  onclick=`confirmChangeVisibility("${post._id}")`).delete-button #{post.isVisible ? ' - active' : ' - passive'}
                  a(href=`/post/edit/${post._id}` title=`Click to Edit` aria-label=`Click to Edit` role="button").edit-button  - edit
                  a(title=`Click to Delete` aria-label=`Click to Delete` role="button" onclick=`confirmDelete("${post._id}")`).delete-button  - x
                  span.postcard__title__date= `${post.date.toLowerCase()}`
          else if post.isVisible
            div.postcard
              div.postcard__body
                h2.postcard__title
                  a(href=`/post/${post.slug}` title=`Click to Read` aria-label=`Published on ${post.date}, ${post.title}`)= post.title
    if totalPages > 1
      .pagination
        each page in Array(totalPages).fill().map((_, index) => index + 1)
          if page === currentPage
            a(href=`/?page=${page}` role="button" aria-label=`You are on page ${page}` title=`Page ${page}`).pagination-item.pagination-item--active= page
          else
            a(href=`/?page=${page}` role="button" aria-label=`Go to page ${page}` title=`Page ${page}`).pagination-item= page

  if authorized
    script(type="application/javascript" src="/js/script.js")