extends layout.pug

block meta
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@sercan_io')
  meta(name='twitter:title', content=`${postTitle}`)
  meta(name='twitter:description', content='Read the post on sercan.io')
  meta(name='twitter:creator', content='@sercan_io')
  meta(name='twitter:image', content='https://s3.eu-central-1.amazonaws.com/sercan.io/assets/sitelogo.jpg')
  //- Open Graph data
  meta(property='og:site_name', content='sercan.io')
  meta(property='og:locale', content='en_US')
  meta(property='og:locale:alternate', content='tr_TR')
  meta(property='og:type', content='article')
  meta(property='og:url', content=`https://sercan.io/post/${postSlug}`)
  meta(property='og:title', content=`${postTitle}`)
  meta(property='og:description', content='Read the post on sercan.io')
  meta(property='og:image', content='https://s3.eu-central-1.amazonaws.com/sercan.io/assets/sitelogo.jpg')

  if(postHasCode)
    link(rel="stylesheet" href="/styles/atom-one-light.css")
    link(rel="stylesheet" href="/styles/atom-one-dark.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js")

block content
  main.main
    article(class="card-body")
      h1.post-title= postTitle
      em.post-date published on #{postDate.toLowerCase()}
      !=postContent
  if(postHasCode)
    script.
      hljs.highlightAll();
