extends layout.pug

block content
  main.main
    each post in posts
      div.postcard
        div.card.postcard
          div.card-body
            h2.card-title.postcard-title
              a(href='/posts/'+post.slug)= post.title
            p.card-content= post.content
            a(href='/posts/'+post.slug).readmore Read More...
            p.post-date= post.date
  if totalPages > 1
    .join.pagination
      each page in Array(totalPages).fill().map((_, index) => index + 1)
        if page === currentPage
          a(href=`/?page=${page}`).btn.btn-primary.join-item.btn-active= page
        else
          a(href=`/?page=${page}`).btn.btn-secondary.join-item= page