extends layout.pug

block meta
  meta(property="og:title" content="sercan ateş")
  meta(property="og:description" content="personal web logs")
  meta(property="og:url" content="https://sercan.io")
  meta(property="og:image" content="")
  meta(name="twitter:title" content="sercan ateş")
  meta(name="twitter:description" content="personal web logs")
  meta(name="twitter:image" content="")
  meta(name="twitter:card" content="summary_large_image")

block content
  main.main
    section(style=`height: ${posts.length * 3}rem;`).posts
      .postcard__date-list
        each post in posts
          a(href=`/post/${post.slug}` title=`Published on ${post.date}`)
            .postcard__date= post.date.toLowerCase()
      .vertical-line
      .posts-list
        each post in posts
          div.postcard
            div.postcard__body
              h2.postcard__title
                a(href=`/post/${post.slug}` title=`Read`)= post.title
    if totalPages > 1
      .pagination
        each page in Array(totalPages).fill().map((_, index) => index + 1)
          if page === currentPage
            a(href=`/?page=${page}`).pagination-item.pagination-item--active= page
          else
            a(href=`/?page=${page}`).pagination-item= page