extends layout.pug

block meta
  meta(property="og:title" content="sercan ateş")
  meta(property="og:description" content="personal web logs")
  meta(property="og:url" content="https://sercan.io")
  meta(property="og:image" content="")
  meta(name="twitter:title" content="sercan ateş")
  meta(name="twitter:description" content="personal web logs")
  meta(name="twitter:image" content="")
  meta(name="twitter:card" content="summary_large_image")

block content
  main.main
    section(style=`height: ${authorized ? posts.length * 3 : posts.filter(post => post.isVisible === true).length * 3}rem;`).posts
      .postcard__date-list
        each post, index in posts
          a(href=`/post/${post.slug}` title=`Published on ${post.date}` tabIndex="-1" aria-hidden="true")
          if post.isVisible || authorized
            .postcard__date= post.date.toLowerCase()
      .vertical-line
      .posts-list
        each post, index in posts
          if authorized
            div.postcard
              div.postcard__body
                h2.postcard__title
                  a(href=`/post/${post.slug}` title=`Click to Read` aria-label=`Published on ${post.date}, ${post.title}`)= post.title
                  a(title='Click to Change Visibility' aria-label='Click to Change Visibility' role='button'
                  onclick=`confirmChangeVisibility("${post._id}")`).delete-button #{post.isVisible ? ' - active' : ' - passive'}
                  a(href=`/post/edit/${post._id}` title=`Click to Edit` aria-label=`Click to Edit` role="button").edit-button  - edit
                  a(title=`Click to Delete` aria-label=`Click to Delete` role="button" onclick=`confirmDelete("${post._id}")`).delete-button  - x
                  span.postcard__title__date= `${post.date.toLowerCase()}`
          else if post.isVisible
            div.postcard
              div.postcard__body
                h2.postcard__title
                  a(href=`/post/${post.slug}` title=`Click to Read` aria-label=`Published on ${post.date}, ${post.title}`)= post.title
    if totalPages > 1
      .pagination
        each page in Array(totalPages).fill().map((_, index) => index + 1)
          if page === currentPage
            a(href=`/?page=${page}` role="button" aria-label=`You are on page ${page}` title=`Page ${page}`).pagination-item.pagination-item--active= page
          else
            a(href=`/?page=${page}` role="button" aria-label=`Go to page ${page}` title=`Page ${page}`).pagination-item= page

  if authorized
    script.
      function confirmChangeVisibility(postId) {
        var result = confirm("Are you sure you want to change visibility of this post?");
        if (result) {
          window.location.href=`/post/toggle-visibility/${postId}`
        }
      }
    script.
      function confirmDelete(postId) {
        var result = confirm("Are you sure you want to delete this post?");
        if (result) {
          window.location.href = `/post/delete/${postId}`;
        }
      }
