extends layout.pug

block meta
  meta(property="og:title", content=postTitle)
  meta(property="og:description", content=postTitle)
  meta(property="og:url" content="https://sercan.io/post/"+postSlug)
  meta(property="og:image" content="")
  meta(name="twitter:title" content=postTitle)
  meta(name="twitter:description" content=postTitle)
  meta(name="twitter:image" content="")
  meta(name="twitter:card" content="summary_large_image")

  link(rel="stylesheet" href="/styles/atom-one-light.css")
  link(rel="stylesheet" href="/styles/atom-one-dark.css")

  script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js")


block content
  main.main
    .card
      article(class="card-body")
        h1.card-title= postTitle
        em.post-date published on #{postDate.toLowerCase()}
        .divider
        !=postContent
  script.
    hljs.highlightAll();
