extends layout.pug

block meta
  meta(property="og:title", content=postTitle)
  meta(property="og:description", content=postContent)
  meta(property="og:url" content="https://sercan.io/post/"+postSlug)
  meta(property="og:image" content="")
  meta(name="twitter:title" content=postTitle)
  meta(name="twitter:description" content=postContent)
  meta(name="twitter:image" content="")
  meta(name="twitter:card" content="summary_large_image")

block content
  main.main
    .card
      article(class="card-body")
        h1.card-title= postTitle
        p.post-date published on #{postDate.toLowerCase()}
        .divider
        !=postContent